<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <h1 class="text-2xl font-bold mb-4">Listado de Productos</h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Código</th>
          <th scope="col" class="px-6 py-3">Nombre</th>
          <th scope="col" class="px-6 py-3">Precio de Venta</th>
          <th scope="col" class="px-6 py-3">Fecha de Alta</th>
          <th scope="col" class="px-6 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of products()"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <!-- <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td> -->
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ product.code }}
          </th>
          <td class="px-6 py-4">
            {{ product.name }}
          </td>
          <td class="px-6 py-4">
            {{ product.salePrice | currency }}
          </td>
          <td class="px-6 py-4">
            {{ product.createdDate | date: "dd/MM/yyyy" }}
          </td>
          <td class="px-6 py-4">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Editar</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <nav
      class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
      aria-label="Table navigation"
    >
      <span
        class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
        Mostrando
        <span class="font-semibold text-gray-900 dark:text-white">{{((pageIndex()-1)*pageSize())+1}}-{{((pageIndex()-1)*pageSize())+products().length}}</span> de
        <span class="font-semibold text-gray-900 dark:text-white">
          {{ totalCount() }}
        </span>
      </span>

      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <!-- <li *ngIf="pageIndex() > 1"> -->
        <li>
          <a
            (click)="onPageChange(pageIndex() - 1)"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            >Anterior</a
          >
        </li>
        <li *ngFor="let page of totalPages()">
          <a
            [ngClass]="{
              'bg-blue-500 text-white': page === pageIndex(),
              'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white':
                page !== pageIndex()
            }"
            (click)="onPageChange(page)"
            [class.active]="page === pageIndex()"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            {{ page }}
          </a>
        </li>
        <!-- <li *ngIf="pageIndex() < totalPages().length"> -->
        <!-- [class.hidden]="pageIndex() >= totalPages().length" -->
        <li>
          <a
          (click)="onPageChange(pageIndex() + 1)"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
