<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <h2
      class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Preguntas y respuestas frecuentes sobre PET-ID
    </h2>
    <div
      class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2"
    >
      <div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Para qué sirve el llavero PET-ID?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Es un identificador basado en un código QR que permite ser escaneado
            y redireccionado a un sitio web, en el cual podrás encontrar, entre
            otras cosas, el detalle completo del esquema de vacunación de tu
            mascota. Esta código QR permitira vincular el TAG fisico con un
            registro con su información en internet.
          </p>
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Cómo puedo consultar la información a través del llavero?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Es un proceso muy sencillo, solo necesitas escanear el código QR del
            llavero con cualquier software/aplicación, por ejemplo alguna app de
            un dispositivo Android o iOS. El escaneo del QR te permitira ser
            redireccionado a una pagina con el contenido de la información de tu
            mascota.
          </p>
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Puedo seguir haciendo uso del servicio si extravie mi llavero?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Si el llavero que contiene grabado el QR lo extravias o simplemente
            deja de ser legible la información contenida en el portal seguira
            estando activa, solo será necesario teclear manualmente el código
            PET-ID de la mascota en el mismo portal, e inclusive puedes adquitir
            un nuevo llavero PET-ID y lo podrás vincular tu antigüo PET-ID con
            el nuevo QR.
          </p>
          <!-- <p class="text-gray-500 dark:text-gray-400">
            Feel free to
            <a
              href="#"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
              target="_blank"
              rel="noreferrer"
              >contact us</a
            >
            and we'll help you out as soon as we can.
          </p> -->
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Qué costo y cómo puedo adquirir un llavero?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Si deseas adquirir nuestro PET-ID puedes solicitar la cotización al
            correo pet-id&#64;gmail.com, contamos con envío a toda la republica
            mexicana.
          </p>
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿En qué casos podría servirme contar con un dispositivo de precarga
            de información?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Si tu veterinario, tus vecinos, o incluso personas desconocidas,
            pero que tuvieran una situación en la que necesiten saber si a tu
            mascota se le ha aplicado cierta vacuna, este dispositivo permitiria
            la consulta en linea de la información del historial de vacunación
            (y otra información que desees) de tu mascota, en cualquier momento.
          </p>
        </div>
      </div>

      <div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Qué tipo de información puedo agregar para que sea consultada
            publicamente?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            <!-- The free updates that will be provided is based on the
            <a
              href="#"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
              >roadmap</a
            > -->
            Este soporte de información está orientado principalmente a aspectos
            de vacunación, de descripción de la mascota e información para poder
            ubicar a la mascota con sus dueños en caso de extravio. Si bien al
            registrarte proporcionas información como número telefónico, estos
            datos no se proporcionan directamente en las busquedas por PET-ID
            por temas de privacidad, para que esto pudiera suceder usted tendría
            que habilitar y llenar otros campos especiales que sirven para ser
            tratados como información publica. Cabe mencionar que si bien estos
            nuevos campos publicos son tratados como información pubclica, esta
            información no es compartida con ninguna otra entidad o compañia
            para ser explotada.
          </p>
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Puedo cambiar o editar la información registrada del llavero?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            <!-- The
            <a
              href="#"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
              >free version</a
            > -->
            En cualquier momento que tu lo desees puedes actualizar,
            complementar o inclusive eliminar la información de manera
            permanente.
          </p>
          <!-- <p class="text-gray-500 dark:text-gray-400">
            You can use this version for any purposes, because it is open-source
            under the MIT license.
          </p> -->
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Aparte de adquirir el llavero, hay costos adicionales por hacer uso
            del servicio?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Al momento de comprar tu llavero estas adquiriedndo el derecho de
            uso del servicio de manera permanente (sin costo adicional), con las
            mismas caracteristicas para dar de alta y publicar la información de
            manera permanente.
          </p>
          <!-- <p class="text-gray-500 dark:text-gray-400">
            Additionally, Windster is a project that is still in development,
            and later it will include both the application, marketing, and
            e-commerce UI interfaces.
          </p> -->
        </div>
        <div class="mb-10">
          <h3
            class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white"
          >
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
            ¿Puedo dar de baja la información de mi(s) mascotas en cualquier
            momento?
          </h3>
          <p class="text-gray-500 dark:text-gray-400">
            Claro, tanto la información de tus mascotas (historial medico) como
            la tuya (tu cuenta) pueden ser eliminadas y canceladas de manera
            permanente en el momento que así lo decidas. Esto lo puedes realizar
            desde el perfil de tu cuenta.
          </p>
          <!-- <p class="text-gray-500 dark:text-gray-400">
            With that being said, feel free to use this design kit for your
            open-source projects.
          </p>
          <p class="text-gray-500 dark:text-gray-400">
            Find out more information by
            <a
              href="#"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
              >reading the license</a
            >.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
